environment:
  matrix:
  # note: please use "tox --listenvs" to populate the build matrix
  - TOXENV: "py26-pytest27"
  - TOXENV: "py26-pytest28"
  - TOXENV: "py26-pytest29"
  - TOXENV: "py26-pytest30"
  - TOXENV: "py27-pytest27"
  - TOXENV: "py27-pytest28"
  - TOXENV: "py27-pytest29"
  - TOXENV: "py27-pytest30"
  - TOXENV: "py34-pytest27"
  - TOXENV: "py34-pytest28"
  - TOXENV: "py34-pytest29"
  - TOXENV: "py34-pytest30"
  - TOXENV: "py35-pytest27"
  - TOXENV: "py35-pytest28"
  - TOXENV: "py35-pytest29"
  - TOXENV: "py27-pytest28-pexpect"
  - TOXENV: "py35-pytest28-pexpect"
  - TOXENV: "flakes"
  - TOXENV: "readme"

install:
  - C:\Python35\python -m pip install tox setuptools_scm

build: false  # Not a C# project, build stuff at the test step instead.

test_script:
  - C:\Python35\python -m tox
